Flask
flask-cors
firebase-admin
google-cloud-firestore
pytz
gunicorn
python-dotenv
ujson
Flask-WTF
PyPDF2
google-api-python-client 
google-auth-httplib2
google-auth-oauthlib 
Flask 
python-dotenv 
google-generativeai 
PyPDF2